nav{
    background-color: #07173F
}
.navbar-brand{
    color: #EAFE07
}
.dropdown-menu{
    background-color: #07173F
}
.dropdown-item{
    color: whitesmoke
}

li.nav-item:hover{
    background-color: #EAFE07;

}

.navbar-dark .navbar-nav .nav-link:hover{
    color:#07173F ;
}

.dropdown-item:hover{
    background-color: #EAFE07;
    color:#07173F ;
}

.dropdown-item:focus{
    background-color: #EAFE07;
    color:#07173F ;
}




