<section class="conteiner">

<div id="main-logo">
    <img class="rounded mx-auto d-block" src="../../assets/images/nasa.png" alt="nasa-logo">
</div>

<div id="msr">
    <h3><b>Sun Power Viewer</b></h3>
    <p> Is a mobile application that accesses the information available via the NASA POWER web services portal and
        provides useful data associated with sunshine to the general public in an accessible manner.</p>
</div>

<div id="power">
    <h3><b>The POWER Project</b></h3>
    <p>Provides solar and meteorological data sets from NASA research for support of renewable energy, building energy
        efficiency and agricultural needs.</p>
    <br>
    <p><em>Supported by NASA Earth Science’s <a href="https://science.nasa.gov/earth-science/applied-sciences">Applied
                Sciences Program</a></em></p>
    <br>
</div>
</section>