<section class="conteiner">

<div id="main-logo">
    <img class="rounded mx-auto d-block" src="../../assets/images/nasa.png" alt="nasa-logo">
</div>

<div id="msr">
    <h1><b>Sun Power Viewer</b></h1>
    <h4> Is a mobile application that accesses the information available via the NASA POWER web services portal and
        provides useful data associated with sunshine to the general public in an accessible manner.</h4>
</div>

<div id="power">
    <h1><b>The POWER Project</b></h1>
    <h4>Provides solar and meteorological data sets from NASA research for support of renewable energy, building energy
        efficiency and agricultural needs.</h4>
    <br>
    <h4><em>Supported by NASA Earth Science’s <a href="https://science.nasa.gov/earth-science/applied-sciences">Applied
                Sciences Program</a></em></h4>
    <br>
</div>
</section>